@import "../../styles/variables.scss";

.admin-table {
  &__users {
    display: flex;
    flex-direction: column;
    gap: $step * 2;

    &-header {
      color: $main-white-color;
      background-color: $main-blue-color;
      padding: $step * 4 $step * 8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 500;

      &-email {
        flex: 3;
      }
      &-register {
        flex: 2;
        text-align: center;
      }
      &-orders {
        flex: 1;
        text-align: center;
      }
      &-reviews {
        flex: 1;
        text-align: center;
      }
      &-actions {
        flex: 1;
        text-align: center;
      }
    }

    &-rows {
      display: flex;
      flex-direction: column;
      gap: $step * 2;
    }

    &-row {
      font-size: 16px;
      color: $text-title-color;
      background-color: $light-blue-color;
      padding: $step * 4 $step * 8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      font-weight: 500;

      &-email {
        flex: 3;
      }
      &-register {
        flex: 2;
        text-align: center;
      }
      &-orders {
        flex: 1;
        text-align: center;
      }
      &-reviews {
        flex: 1;
        text-align: center;
      }
      &-actions {
        flex: 1;
        text-align: center;
      }
    }

    &-action {
      cursor: pointer;
    }
  }

  &__categories {
    display: flex;
    flex-direction: column;
    gap: $step * 2;

    &-header {
      color: $main-white-color;
      background-color: $main-blue-color;
      padding: $step * 4 $step * 8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 500;

      &-name {
        flex: 1;
      }

      &-slug {
        flex: 3;
        text-align: center;
      }

      &-actions {
        flex: 1;
        text-align: center;
      }
    }

    &-rows {
      display: flex;
      flex-direction: column;
      gap: $step * 2;
    }

    &-row {
      font-size: 16px;
      color: $text-title-color;
      background-color: $light-blue-color;
      padding: $step * 4 $step * 8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      font-weight: 500;

      &-name {
        flex: 1;
      }

      &-slug {
        flex: 3;
        text-align: center;
      }

      &-actions {
        flex: 1;
        text-align: center;
      }
    }

    &-action {
      cursor: pointer;
    }
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: $step * 2;

    &-header {
      color: $main-white-color;
      background-color: $main-blue-color;
      padding: $step * 4 $step * 8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 500;

      &-name {
        flex: 3;
      }
      &-slug {
        flex: 2;
        text-align: center;
      }
      &-rating {
        flex: 1;
        text-align: center;
      }
      &-orders {
        flex: 1;
        text-align: center;
      }
      &-reviews {
        flex: 1;
        text-align: center;
      }
      &-actions {
        flex: 1;
        text-align: center;
      }
    }

    &-rows {
      display: flex;
      flex-direction: column;
      gap: $step * 2;
    }

    &-row {
      font-size: 16px;
      color: $text-title-color;
      background-color: $light-blue-color;
      padding: $step * 4 $step * 8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      font-weight: 500;

      &-name {
        flex: 3;
      }
      &-slug {
        flex: 2;
        text-align: center;
      }
      &-rating {
        flex: 1;
        text-align: center;
      }
      &-orders {
        flex: 1;
        text-align: center;
      }
      &-reviews {
        flex: 1;
        text-align: center;
      }
      &-actions {
        flex: 1;
        justify-content: center;
        display: flex;
        gap: $step * 3;
        text-align: center;
      }
    }

    &-action {
      cursor: pointer;
    }
  }

  &__orders {
    display: flex;
    flex-direction: column;
    gap: $step * 2;

    &-header {
      color: $main-white-color;
      background-color: $main-blue-color;
      padding: $step * 4 $step * 8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 500;

      &-email {
        flex: 2;
      }
      &-status {
        flex: 2;
        text-align: center;
      }
      &-items {
        flex: 1;
        text-align: center;
      }
      &-total-price {
        flex: 1;
        text-align: center;
      }
      &-order-date {
        flex: 1;
        text-align: center;
      }
      &-actions {
        flex: 1;
        text-align: center;
      }
    }

    &-rows {
      display: flex;
      flex-direction: column;
      gap: $step * 2;
    }

    &-row {
      font-size: 16px;
      color: $text-title-color;
      background-color: $light-blue-color;
      padding: $step * 4 $step * 8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      font-weight: 500;

      &-email {
        flex: 2;
      }
      &-status {
        flex: 2;
        text-align: center;
      }
      &-items {
        flex: 1;
        text-align: center;
      }
      &-total-price {
        flex: 1;
        text-align: center;
      }
      &-order-date {
        flex: 1;
        text-align: center;
      }
      &-actions {
        flex: 1;
        justify-content: center;
        display: flex;
        gap: $step * 3;
        text-align: center;
      }
    }

    &-action {
      cursor: pointer;
    }
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    gap: $step * 2;

    &-header {
      color: $main-white-color;
      background-color: $main-blue-color;
      padding: $step * 4 $step * 8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 500;

      &-product {
        flex: 2;
      }
      &-email {
        flex: 2;
        text-align: center;
      }
      &-rating {
        flex: 1;
        text-align: center;
      }
      &-actions {
        flex: 1;
        text-align: center;
      }
    }

    &-rows {
      display: flex;
      flex-direction: column;
      gap: $step * 2;
    }

    &-row {
      font-size: 16px;
      color: $text-title-color;
      background-color: $light-blue-color;
      padding: $step * 4 $step * 8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      font-weight: 500;

      &-product {
        flex: 2;
      }
      &-email {
        flex: 2;
        text-align: center;
      }
      &-rating {
        flex: 1;
        text-align: center;
      }

      &-actions {
        flex: 1;
        justify-content: center;
        display: flex;
        gap: $step * 3;
        text-align: center;
      }
    }

    &-action {
      cursor: pointer;
    }
  }
}
