@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,500;0,600;1,700&display=swap");
@import "../styles/variables.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: $text-title-color;
  background-color: $light-blue-color;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.main {
  background: $main-white-color;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  margin: 50px auto;
  overflow: hidden;
  padding: 0 15px;
  max-width: 1240px;
  min-height: calc(100vh - 100px);
}

.title {
  font-size: 32px;
  line-height: 100%;
  color: $text-title-color;
}
