@import "../styles/variables.scss";

.home-page {
  &__wrapper {
    padding: $step * 13 0;
    display: flex;
    gap: $step * 9;
  }
  &__top-filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $step * 6;
    margin-bottom: $step * 6;
  }
  &__content {
    width: 924px;
  }
}
