@import "../../styles/variables.scss";

.auth-form {
  margin: 0 auto;
  width: $step * 140;

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: $step * 2;
    margin-bottom: $step * 6;
  }

  &__controls {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: $step * 4;

    &--register {
      flex-direction: column;
    }
  }

  &__input {
    padding: $step * 2 $step * 4;
    background-color: transparent;
    width: 100%;
    color: $main-gray-color;
    border: 1px solid rgba($text-description-color, 0.5);
    font-weight: 500;
    font-size: 16px;
    border-radius: 10px;

    &:focus {
      outline: none;
      border-color: rgba($text-description-color, 1);
    }
  }
}
