@import "../../styles/variables.scss";

.reviews {
  &__wrapper {
    display: flex;
    gap: $step * 16;
  }

  &__title {
    font-size: 24px;
    margin-bottom: $step * 4;
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $step * 4;
  }

  &__disclaimer {
    color: $text-description-color;
    padding: $step * 5 0 $step * 5 0;
  }

  &__button {
    padding-top: $step * 3;
    padding-bottom: $step * 3;
    width: 100%;
  }
}
