@import "../../../styles/variables.scss";

.input {
  padding: $step * 2 $step * 4;
  background-color: transparent;
  width: 100%;
  color: $main-gray-color;
  border: 1px solid rgba($text-description-color, 0.5);
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  &:focus {
    outline: none;
    border-color: rgba($text-description-color, 1);
  }
}
