@import "../../styles/variables.scss";

.profile-single-review {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  &__title {
  }
  &__updated {
    font-size: 14px;
    color: $text-description-color;
  }

  &__header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: $step * 3 $step * 4;
    background-color: $light-blue-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-info {
      display: flex;
      gap: $step * 4;
    }
  }

  &__main {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: $step * 3 $step * 4;

    display: flex;
    justify-content: space-between;
  }

  &__product {
    display: flex;
    align-items: flex-start;
    gap: $step * 4;

    &-title {
      font-weight: 700;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $step / 2;
  }

  &__text {
    font-size: 14px;
    color: $text-description-color;
    max-width: 400px;
  }

  &__title {
    display: flex;
    align-self: center;
    font-size: 16px;
    font-weight: 700;
  }
}
