.checkbox {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid $text-description-color;
  &--checked {
    background-color: $main-blue-color;
    border-color: $main-blue-color;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url("/checkmark.svg");
      background-repeat: no-repeat;
    }
  }
}
