@import "../../../styles/variables.scss";

.button {
  padding: $step * 2 $step * 10;
  color: $main-white-color;
  background-color: $main-blue-color;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;

  &--inverted {
    background-color: transparent;
    border: 1px solid $main-blue-color;
    color: $main-blue-color;

    &:hover {
      color: $main-white-color;
      background-color: $main-blue-hover-color;
    }
  }

  &--disabled {
    background-color: rgba($text-description-color, 0.25);
    color: $text-description-color;
  }

  &:hover {
    background-color: $main-blue-hover-color;
  }
}
