@import "../../styles/variables.scss";

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $step * 4 0;
  // border-bottom: 1px solid rgba($text-title-color, 0.1);

  &__controls {
    display: flex;
    align-items: center;
    gap: $step * 8;
  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: $step * 8;
}
