$main-blue-color: #005bff;
$main-blue-hover-color: #0050e0;
$main-accent-color: #f91155;
$main-white-color: #ffffff;
$main-green-color: #10c44c;
$main-orange-color: #ffa800;
$main-gray-color: #47596c;
$light-blue-color: #ebf7ff;
$light-gray-color: #e6e8eb;
$text-title-color: #001a34;
$text-description-color: #9ba5af;
$step: 4px;
