@import "../../styles/variables.scss";

.search-bar {
  width: 100%;
  position: relative;
  &__input {
    height: 40px;
    font-weight: 500;
    font-size: 18px;
    padding: $step * 2 $step * 3;
    border-color: $main-blue-color;
    width: 700px;
  }
  &__button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: $step * 2 $step * 8;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
